h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;  
}
h3{
    font-size: 1.2em;  
}
h4{
    font-size: 1.1em;
}

.icon{
    max-width: 60px;
}

.bg-light{
    background-color: rgb(215, 222, 229) !important;
}
.card{
    max-width: 300px;
}

.carousel-item img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}